<html>
    <body>
        <h2> Enter a new room to the database </h2>
        <form action="/api/room" method="post">
            <div>
                <label for="name">Room name</label>
                <input type="text" id="name" name="name" placeholder="Enter room name..."/>
            </div>
            <input type="submit" value="Sabe"/>
        </form>
    </body>
</html>
